apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${NAMESPACE}

resources:
  - spring-app-deployment.yaml
  - mongodb.yaml
  - elasticsearch.yaml
  - logstash.yaml
  - kibana.yaml
  - spark-master.yaml
  - spark-worker.yaml
  - ingress-extended.yaml

images:
  - name: spring-app
    newName: ${REGISTRY}/spring-app
    newTag: latest

secretGenerator:
  - name: mongodb-secret
    literals:
      - username=root
      - password=password
  - name: kibana-auth
    literals:
      - auth=admin:$apr1$s9v1t1z1$C6Q4KvL9T7H8N2B1V3M5W6
