apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${NAMESPACE}

resources:
  - spring-app-deployment.yaml
  - mongodb.yaml
  - elasticsearch.yaml
  - kibana.yaml
  - spark-master.yaml
  - spark-worker.yaml
  - ingress.yaml

images:
  - name: ${REGISTRY}/spring-app
    newName: ${REGISTRY}/spring-app
    newTag: latest
