apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  namespace: davtroelkjs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      containers:
        - name: spark-worker
        image: ghcr.io/exea-centrum/website-db-vault-kaf-redis-arg-kust-kyv-elk-apm-sprig-spar2/spark-worker:latest
        imagePullPolicy: Always
          command: ["/opt/bitnami/spark/bin/spark-class"]
          args:
            [
              "org.apache.spark.deploy.worker.Worker",
              "spark://spark-master:7077",
            ]
          ports:
            - containerPort: 8081
              name: http
          env:
            - name: SPARK_MODE
              value: "worker"
            - name: SPARK_MASTER_URL
              value: "spark://spark-master:7077"
            - name: SPARK_WORKER_MEMORY
              value: "1g"
            - name: SPARK_WORKER_CORES
              value: "1"
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "1"
